<h1>PANTALLAZO!</h1>
<br>
<hr>
Esta foto viene de la carpeta public
<br>
<img src="../pantallazo 2021-04-19 21-26-22.png" alt="No funciona">

<hr>
<br>
<hr>

Este de abajo viene del asset path
<br>
<%= image_tag "Screenshot from 2021-04-19 21-26-22.png" %>